img {
  margin: 0px 5%;
  height: 400px;
  width: 90%;
  mix-blend-mode: multiply;
}

p {
  margin: 0px 10%;
  column-count: 4;
  text-align: justify;
  column-gap: 30px;
  column-rule: 2px solid rgba(0, 0, 0, 0.1);
}

.body {
  background: linear-gradient(AntiqueWhite,Azure, lavender, #f1f1f1);
}
