<div class="row bg-light">
  <div class="col-sm m-4 p-5 border">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, odit! Hic
      molestias harum mollitia, quis earum voluptate dolores amet delectus dolor
      tempore, culpa deleniti esse sapiente! Sed nihil vel dolor aliquam
      deleniti quae ab veniam culpa velit eveniet temporibus laudantium, libero
      cum explicabo tempora esse iure non animi eum distinctio. Exercitationem
      hic, facilis excepturi atque ad recusandae molestiae, quasi, expedita quo
      obcaecati fugiat iste illo at quos quod unde culpa. Minima tempore at
      aliquid laborum corporis eaque impedit voluptatibus, unde cupiditate
      suscipit labore sunt nobis, quas cum molestias. Saepe, odio! Voluptatum
      nulla et quod facilis cumque vel autem, natus est placeat sequi mollitia
      asperiores doloremque consequuntur laudantium provident consectetur eos,
      omnis perferendis animi deleniti accusantium modi quia aut cupiditate.
      Necessitatibus nesciunt deserunt atque quo hic voluptate totam qui officia
      officiis ex, perspiciatis dolores odit cum itaque est, cupiditate ipsa
      maxime, et nobis voluptatum vero perferendis dicta! Rem at eaque quae.
    </p>
  </div>
  <div class="col-sm m-4 text-secondary border text-center">
    <h1 class="h-100">HOME</h1>
  </div>
</div>
