<div class="bg-light">
  <div class="m-4 p-5 border" style="float:left; width:40%; height:530px">
    <u><h1>Contact</h1></u>
    <br />
    <div class="table mt-5">
      <tr>
        <th class="w-50">Name:</th>
        <td>ABC</td>
        <br /><br />
      </tr>
      <tr>
        <th>Email :</th>
        <td>abc@gmail.com</td>
        <br /><br />
      </tr>
      <tr>
        <th>Phone no :</th>
        <td>123456789</td>
      </tr>
    </div>
  </div>
  <div class="m-4" style="float:right">
    <img
      src="https://thumbs.dreamstime.com/b/contact-us-customer-support-hotline-people-connect-call-custo-contact-us-customer-support-hotline-people-connect-call-customer-126682501.jpg"
    />
  </div>
</div>
